asgiref==3.8.1
Babel==2.14.0
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.4
django-debug-toolbar==4.3.0
django-extensions==3.2.3
django-mathfilters==1.0.0
django-money==3.4.1
fontawesomefree==6.5.1
idna==3.7
pillow==10.3.0
py-moneyed==3.0
pycountry==23.12.11
python-dateutil==2.9.0.post0
requests==2.31.0
six==1.16.0
sqlparse==0.5.0
stripe==9.2.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
