{% extends 'base/base.html' %}

{% block testimonials %}
{% endblock %}

{% block content %}

<br/><br/>
<div class="container">
  <div class="row justify-content-center">
    <div class="card mb-3 px-4 shadow" style="width: 30rem;">
      <br/>
      <h1 class="text-center">Sign up</h1>
      <br/>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-auto">
              <button type="submit" class="btn btn-success">Submit!</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-auto">
              <br/>
              Already a user? <a href="{% url 'users:sign-in' %}">Sign in</a>
              <br/><br/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br/><br/><br/><br/>

{% endblock %}